<%= render(:partial => "home/top") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Faculty Name:</strong>
  <%= @faculty.f_name %>
</p>

<p>
  <strong>Faculty ID:</strong>
  <%= @faculty.f_id %>
</p>

<p>
  <strong>Faculty Initial:</strong>
  <%= @faculty.f_initial %>
</p>

<p>
  <strong>Faculty Position:</strong>
  <%= @faculty.f_position %>
</p>

<p>
  <strong>Faculty Type:</strong>
  <%= @faculty.f_type %>
</p>
<p>
  <strong>Taken:</strong>
  <% @faculty.sections.each do |s| %>
    <li><%= s.details %> </li>
  <% end %>
</p>


<%= link_to 'Edit', edit_faculty_path(@faculty),class: "btn btn-warning" %> |
<%= link_to 'Back', faculties_path,class: "btn btn-success" %>
<%= render(:partial => "home/bottom") %>
