<%= render(:partial => "home/top") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Section number:</strong>
  <%= @section.s_number %>
</p>

<p>
  <strong>Course Title:</strong>
  <%= @section.course.course_title %>
</p>

<p>
  <strong>Time Slot:</strong>
  <%= @section.class_time.try(:schedule_type) %>
</p>

<%= link_to 'Edit', edit_section_path(@section),class: "btn btn-warning" %> |
<%= link_to 'Back', sections_path,class: "btn btn-success" %>
<%= render(:partial => "home/bottom") %>
